header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    /* border: 2px solid #4CAF50; */
}

li {
    display: flex;
    align-items: center;
    gap: 80px;

}

button {
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: red;
    border: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;

}

.image {
    width: 100px;
    height: 100px;

}

section {
    display: flex;
    gap: 10px;
}

.second {
    display: flex
}

.third {
    display: flex;
}

.parent {

    width: fit-content;
}

.box1 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.box2 {
    display: flex;
    gap: 10px;
}

.orange {
    background-color: orange;
    width: 50px;
    height: 50px;
}

.red {
    background-color: red;
    width: 50px;
    height: 50px;
}

.green {
    background-color: green;
    width: 50px;
    height: 50px;
}

.blue {
    background-color: blue;
    width: 50px;
    height: 50px;
}

.page {
    display: flex;
}

.group {
    display: flex;
    gap: 80px;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
}

.container div {
    background-color: blue;
    width: 100%;
    height: 400px;
}

.button2 {
    width: 50px;
    background-color: white;

}

text {
    width: 100%;
}

/* .text1{width: 400px;}
.text2{width: 200px;

} */
.group1 {
    display: flex;
    gap: 40px;

}

.group2 {
    display: flex;
    gap: 70px;
}

.button3 {
    width: 50px;
    background-color: white;

}

.group3 {
    display: flex;
    gap: 80px;
}

.button4 {
    width: 50px;
    background-color: white;
}

.headerone {
    text-align: center;
    margin-top: 150px;
}

.wel {
    color: darkolivegreen;

}

.para1 {
    color: darkolivegreen;

}

.containero {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 200px;

}

.ad {
    font-size: 40px;

}

.we {
    font-size: small;
    margin-top: 20px;
    width: 400px;

}

.view {
    background-color: white;color: blue;
    border: 2px solid blue;
    margin-top: 20px;

}

.containertwo {
    display: flex;
    margin-top: 120px;
    gap: 1450px;

}

.to {
    margin-top: 10px;
    background-color: white;
    color: blue;
    border: 2px solid blue;

}

.he {
    font-size: large 50px;
    width: 200px;

}

.container4 {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20px;

}

.hero {
    background-color: palevioletred;
    height: 600px;
}

.images {
    position: relative;
}

.child {
    display: grid;
    position: absolute;
    top: 200px;
    right: 100px;
}

.yo {
    display: grid;
    background-color: palevioletred;
    align-content: center;
    height: 100px;
    justify-content: center;
    margin-top: 80px;

}

.ya {
    color: white;
    text-align: center;

}

@media screen and (min-width: 200px) and (max-width: 600px) {
  header {
    display: none;
  }
}
